
@{
    ViewData["Title"] = "PasswordRecovery";
}

<h1>Password Recovery</h1>
<hr/>
<p>You will receive password reset token in an e-mail inbox.  Click the link in the e-mail and fill out of password reset form.</p>

