@model AccountConfirmViewModel

@{
    ViewData["Title"] = "Confirm";
}

<h1>Confirm Account</h1>

<h4>Confirm your account with your confirmation code</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Confirm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConfirmationCode" class="control-label"></label>
                <input asp-for="ConfirmationCode" class="form-control" />
                <span asp-validation-for="ConfirmationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login" asp-controller="Authentication">Back to Login</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
