@model AdminViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Admin</h1>
<div>
    Email: @Model.Email
</div>
<div>
    Name: @Model.Name
</div>
<div>
    Roles: @string.Join(", ", Model.Roles)
</div>

